---
title: RD
---
.winners

.container
  .content
    .wheel
      .wheel-inner
        - 32.times do |i|
          .item(id="item-#{i}")
            .ticket
              .name
              .id 0000-000-000
    .pointer
    / .winner

.controls
  %a.draw(href="#") DRAW
